body.loading-overlay-transparent .site-loader-new {
    display: flex !important;
  }
  .site-loader-new {
    display: none;
  }
  
  body.loading-overlay, body.loading-overlay-transparent {
    overflow: hidden;
    height: 100%;
    opacity: 0.6;
  }
  body.loader-active .site-loader-container, body.loading-overlay-transparent .site-loader-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }
  body.loader-active .site-loader-container .site-loader, body.loading-overlay-transparent .site-loader-container .site-loader {
    width: 100px;
    height: 100px;
    z-index: 15000;
  }
  body.loader-active .site-loader-container .site-loader, body.loading-overlay-transparent .site-loader-container .site-loader {
    position: relative;
    width: 100px !important;
    height: 100px !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
  }
  